* {
  margin: 0;
}

body {
  background-color: #1f1f1f;
  color: white;
  font-family: "Fira Code";
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

canvas {
  flex: 1 1 auto;
  border: solid 5px gray;
}